.flex-col h1{
    color:#1A3E38;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.img-food{
    height: 300px;
    border-radius: 8px;
}

.description{
    padding: 20px;
    margin-left:50px;
    margin-top: 50px;
    margin-bottom: auto;
    display: flex;
    -ms-flex-item-align:start;
    flex-direction: column;
}

.description h2{
    color: #1A3E38;
    font-size: x-large;
    margin-bottom: 10px;
}

.description p{
    color: #1A3E38;
    margin-bottom: 30px;
}

button{
    width: fit-content;
    background-color: #1A3E38;
    color: white;
    font-size: large;
    font-weight: 600;
    border:none;
    border-radius: 5px;
    padding: 10px;
}

button:hover{
    background-color: #53ab9c;
    color:#ffffff;
}

h3{
    color: white;
    font-size: x-large;
}

